<!DOCTYPE html>
<html lang="en" ng-app="meuModulo">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Angular</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <style>
        a:hover {
            cursor: pointer;
        }
    </style>
</head>
<body ng-controller="indexController">

    <header class="center">
        <h2 ng-bind="titulo"></h2>
    </header>
    <main class="container">
        <div class="row">
            <input type="text" placeholder="Busca" ng-model="busca.nome">
        </div>
        <div class="row">
            <table class="striped">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>E-mail</th>
                        <th>Nota 1</th>
                        <th>Nota 2</th>
                        <th>Nota 3</th>
                        <th>Média</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="aluno in alunos | filter: busca">
                        <td>{{ aluno.nome }}</td>
                        <td>{{ aluno.email }}</td>
                        <td>{{ aluno.nota1 }}</td>
                        <td>{{ aluno.nota2 }}</td>
                        <td>{{ aluno.nota3 }}</td>
                        <td>{{ aluno.media }}</td>
                        <td><button class="btn blue" ng-click="editar(aluno)">Editar</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <!-- Modal Trigger -->
            <!--a class="waves-effect waves-light btn modal-trigger" href="#modal1">Adicionar</a-->
            <button class="btn blue" ng-click="getModal().open()">Adicionar</button>
        </div>
    </main>


    <!-- Modal Structure -->
    <div id="modal1" class="modal modal-fixed-footer">
        <div class="modal-content">
            <h4>Adicionar aluno</h4>
            <p>Preencha os dados do aluno.</p>
            <div class="row">
                <div class="row">
                    <div class="input-field col m6 s6">
                        <input type="text" ng-model="aluno.nome" class="validate">
                        <label>Nome</label>
                    </div>
                    <div class="input-field col m6 s6">
                        <input type="text" ng-model="aluno.email" class="validate">
                        <label>E-mail</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col m4 s4">
                        <input type="text" ng-model="aluno.nota1" class="validate">
                        <label>Nota1</label>
                    </div>
                    <div class="input-field col m4 s4">
                        <input type="text" ng-model="aluno.nota2" class="validate">
                        <label>Nota2</label>
                    </div>
                    <div class="input-field col m4 s4">
                        <input type="text" ng-model="aluno.nota3" class="validate">
                        <label>Nota3</label>
                    </div>
                </div>
            </div>    
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancelar</a>
            <a href="#!" class="waves-effect waves-light btn blue" ng-click="adicionar()">Adicionar</a>
        </div>
    </div>

    <!--script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script-->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="lib/angular/angular.min.js"></script>

    <script>
        $(document).ready(function() {

            $('.modal-trigger').click(function() {
                //$scope.modal = M.Modal.getInstance($('.modal'));
                //$('.modal').modal();
            });
            
        });
    </script>

    <script>
        angular.module('meuModulo', [])
        .controller('indexController', function($scope) {
            $scope.titulo = 'Sistema com AngularJS';
            $scope.alunos = [
            {nome: 'Camila', email: 'camila@mail.com', nota1: 65, nota2: 80, nota3: 55},
            {nome: 'Pedro', email: 'pedro@mail.com', nota1: 75, nota2: 85, nota3: 100},
            {nome: 'Murilo', email: 'murilo@mail.com', nota1: 10, nota2: 20, nota3: 70},
            {nome: 'João', email: 'joao@mail.com', nota1: 50, nota2: 55, nota3: 60},
            {nome: 'Ana', email: 'ana@mail.com', nota1: 75, nota2: 15, nota3: 95},
            ];
            
            
            var init = function() {
                $scope.alunos.forEach(function(aluno) {
                    aluno.media = calcularMedia(aluno);
                });
                limparForm();
            }

            var calcularMedia = function(aluno) {
                var nota1 = aluno.nota1 ? parseInt(aluno.nota1) : 0;
                var nota2 = aluno.nota2 ? parseInt(aluno.nota2) : 0;
                var nota3 = aluno.nota3 ? parseInt(aluno.nota3) : 0;
                return ((nota1 + nota2 + nota3) / 3).toFixed(2);
            }

            $scope.adicionar = function() {
                $scope.aluno.media = calcularMedia($scope.aluno);
                $scope.alunos.push($scope.aluno);
                limparForm();
                $scope.getModal().close();
            }

            $scope.editar = function(aluno) {
                $scope.aluno = aluno;
                $scope.getModal().open();
            }

            $scope.getModal = function() {
                var modal = $('.modal').modal();
                return M.Modal.getInstance(modal);
            }

            var limparForm = function() {
                $scope.aluno = { nome: '', email: '', nota1: '', nota2: '', nota3: '', media: '' };
            }

            init();
        });
    </script>

</body>
</html>